body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h2 {
    color: #007bff;
}

form {
    max-width: 400px;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        background-color: #0056b3;
    }
