html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar {
  background-color: #e3f2fd;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #00FF00; /* Hover üzerinde renk deðiþtirin */
}
.navbar a {
    color: #000; /* Yazý rengi */
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: coral; /* Hover üzerinde renk deðiþtirin */
}