body {
    background-color: #e3f2fd;
}

h1 {
    background-color: white; /* Arkaplan rengini beyaz yapar */
    color: red; /* Yazı rengini siyah yapar */
    text-align: center
}

h2 {
    background-color: white; /* Arkaplan rengini beyaz yapar */
    color: black; /* Yazı rengini siyah yapar */
    text-align: center
}
fieldset {
    background-color: #00FF00; /* Yeşil renk kodu */
    width: 100%; /* Tablonun genişliğini ekran genişliği kadar yapar */
}