@{
    Layout = null;
}
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="" content-type" content="text/html charset=utf-8" />
    <meta name="author" content="Begüm Geçer, begum.gecer@pru.edu.tr" />
    <meta name="designer" content="Begüm Geçer, begum.gecer@pru.edu.tr" />
    <meta name="language" content="Turkish" />
    <meta name="description" content="TecnoShop: Sadece Bir Tık Uzağında Teknoloji Harikaları.Sitemizde her bütçeye uygun ve evinize almak istediğniz her türlü elektronik  eşya ürünü bulunur." />
    <meta name="keywords" content="Beyaz eşya,Teknolojik aletler ,uygun fiyat,müşteri memnuniyeti garantili,Buzdolabı,,Çamaşır makinesi,Fırın,Ocak,Küçük ev aletleri,Kahve makinesi,Televizyon,Telefon,elektronik alet yedek" />
    <meta name="author" content="Begüm Geçer, begum.gecer@pru.edu.tr" />
    <meta name="abstract" content="TecnoShop:Yaşamınıza dokunan teknoloji ile kolaylığı keşfedin.Aradığınız her türlü  yaşamınızı kolaylaştıracak beyaz eşyayı burada bulabilirsiniz.Tüm bütçelere uygun elektronik eşyalara bu sayfadan ulaşabilirsiniz." />
    <meta name="copyright" content="&#169; TecnoShop.com 2023 Tüm Hakları Saklıdır." />
    <meta name="designer" content="Begüm Geçer. Web Designer." />
    <meta http-equiv="Resource-Type" content="document">
    <meta name="robots" content="all">
    <base href="Home/Iletisim" target="_parent">
    <link rel="stylesheet" type="text/css" href="/css/MusteriHizmetleri.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/Layout.css">
    <link rel="icon" type="image/jpg" href="\resimler\icon.jpg" />


</head>
<body>
    <a href="/Home/Index" class="btn btn-secondary">Ana Sayfa</a>
    <h1>Müsteri Hizmetleri</h1>
    <h2><b>Müşteri Hizmetleri Temsilcisi:</b> Begüm Geçer</h2>
    <h2><b>Müşteri Hizmetleri Numarası:</b>444 ** **</h2>
    <h2><b>Müşteri Hizmetleri mail adresi:</b>e.teknoshop@gmail.com</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14363.504113215366!2d29.31943543401412!3d40.81577642737298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caddd0b2006e8b%3A0x6513544ab3296475!2sViaport%20Marina%20Tuzla!5e0!3m2!1str!2str!4v1704210013137!5m2!1str!2str" width="1300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    <form name="Öneri ve tavsiyeler" action="e.teknoshop@gmail.com" method="POST">
        <table>
            <tr>
                <td><label for="adsoyad">Ad ,  Soyad:</label></td>
                <td><input type="text" name="adsoyad" id="adsoyad" /></td>
            </tr>
            <tr>
                <td><label for="Telefon">Telefon:</label></td>
                <td><input type="text" name="Telefon" id="Telefon" /></td>
            </tr>
            <tr>
                <td><label for="e-posta">E-mail:</label></td>
                <td><input type="text" name="e-posta" id="e-posta" /></td>
            </tr>
            <tr>
                <td><label for="Konu">Konu:</label></td>
                <td><input type="text" name="Konu" id="Konu" /></td>
            </tr>
            <tr>
                <td><label>Cinsiyet:</label></td>
                <td>
                    <input type="radio" name="Cinsiyet" value="Kadın"> Kadın
                    <input type="radio" name="Cinsiyet" value="Erkek"> Erkek
                    <input type="radio" name="Cinsiyet" value="Belirtmek istemiyorum"> Belirtmek istemiyorum


                </td>
            </tr>

            <tr>
                <td><label for="mesaj">Mesajınız:</label></td>
                <td><textarea name="mesaj" id="mesaj" style="height: 90px; width:200px"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Gönder" name="gonder" /></td>
            </tr>

        </table>
    </form>
</body>

</html>